/* table button{
    display: none;
}
table tr:hover button{
    display: block;
} */

table tr:hover .edit-button {
    background-color: #F6CD61;
    border: 2px solid #F6CD61; 
    color: white;
    transition: all 0.5s;
}

.style-table1 tr th {
    border-top: #4A4E4D;
    border-bottom: 4px solid #3DA4AB;
    text-align: center;
    background-color: #4a4e4dd2;
}

#left-align {
    text-align: left;
}

.day1 {
    text-align: center;
    padding: 0px 15px;
    border-right: 2px solid white;
}

table tr:hover .remove-button {
    background-color: #FE8A71;
    border: 2px solid #FE8A71;
    color: white;
    transition: all 0.5s;
}

table tr:hover .submit-button {
    background-color: #3DA4AB;
    border: 2px solid #3DA4AB;
    color: white;
    transition: all 0.5s;
}



.style-table1 .a {
    background-color: #4A4E4D;

}

.style-table1 {
    width: 750px;
    color: white;
    border: solid 3px #3da4ab;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

.edit-button {
    background-color: #4A4E4D;
    border: 2px solid #4A4E4D; 
    color: #4A4E4D;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.remove-button {
    background-color: #4A4E4D;
    border: 2px solid #4A4E4D;
    color: #4A4E4D;
    float: right;
    margin-right: 10px;

}
.submit-button {
    background-color: #4A4E4D;
    border: 2px solid #4A4E4D;
    color: #4A4E4D;
    float: right;
}





