@import url('https://fonts.googleapis.com/css?family=Roboto');

/*

colors = {
#4a4e4d - grey
#0e9aa7 - dark blue
#3da4ab - light blue
#f6cd61 - mellow yellow
#fe8a71 - rose gold

}



*/

body{
    background: url("../images/background.png");
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    color: white;   
}

.x {
    -webkit-user-select: none;
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
  }

#logo{
    margin-left: 15px;
    margin-top: 6px;
    float: left;
    width: 55px;
    height: 50px;
}

#logo2{
    float: left;
    margin-top: 10px;
    width: 160px;
    height: 40px;
    
}

#navBar{
    background: #4a4e4d;
    border-bottom: solid 2px #0e9aa7;
}

#savings{
    margin-right: 240px;
    color: #fe8a71;
    font-size: 30px;
}

#mainStarterBox{
    margin: 0 auto;
    margin-top: 40px;
    width: 70%;
    border: solid 2px #0e9aa7 ;
    background: #4a4e4da9;
    text-align: center;
    font-size: 40px;
    min-height: 520px;
}

#mainStarterBox2{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
    padding-bottom: 150px;
    width: 70%;
    border: solid 2px #0e9aa7 ;
    background: #4a4e4da9;
    text-align: center;
    font-size: 40px;
}

#startButton{
        width: 45%;
        height: 100px;
        background: #fe8a71;
        border: solid #818586 2px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 100px;
        transition: all 0.2s;
        color: rgb(255, 255, 255);
        transition: all 0.4s;
}

#startButton:hover{
    background: #f6cd61;
    border: solid 2px #ffffff;
    color: #00323f;
}

#startButton:active{
    background: #0e9aa7;
    border: solid 2px #ffffff;
    color: #00323f;
}

#startButton2{
    width: 45%;
    height: 100px;
    background: #fe8a71;
    border: solid #818586 2px;
    margin: 0 auto;
    margin-top: 80px;
    line-height: 100px;
    transition: all 0.2s;
    color: rgb(255, 255, 255);
    transition: all 0.4s;
}

#startButton2:hover{
    background: #f6cd61;
    border: solid 2px #ffffff;
    color: #00323f;
}

#startButton2:active{
    background: #0e9aa7;
    border: solid 2px #ffffff;
    color: #00323f;
}

p{
    padding: 0 40px 0 40px;
}


#userInput[type=text] {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 55%;
    height: 70PX;
    box-sizing: border-box;
    border: white solid 2px;
    font-size: 30px;
    background-color: #fcfcfc;
    background-size: 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: #064046;
    outline:none; 
}

#userInput[type=text]:focus {
    width: 61%;
    border: 4px solid #3da4ab;
}

#userInput2[type=number] {
    width: 70%;
    background: white;
    padding: 0 0 0 30px;
}


#toolTipButton{
    color: white;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    border-bottom: solid 2px #f6cd61; 
}

.tooltip-content{
   position: top; 
   margin: 2px;
}


#rightSide{
    margin-top: 40px;
    height: 500px;
}

#leftSide{
    margin-top: 40px;
    height: 500px;
}

#netIncome{
    text-align: center;
    font-size: 40px;
    min-height: 180px;
    border: solid 2px #3da4ab;
    background: #4a4e4dd2;
}

#totalExpenses{
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    min-height: 180px;
    border: solid 2px #3da4ab;
    background: #4a4e4dd2;
}

#allTheBills{
    text-align: center;
    font-size: 40px;
    min-height: 180px;
    border: solid 2px #3da4ab;
    background: #4a4e4dd2;
}

#totalExpensesDisplayed{
    width: 100%;
    height: 95px;
    text-align: center;
    line-height: 95px;
    background-color: #4A4E4D;

}

#dateStuff{
    margin: 0 auto;
    width: 35%;
    height: 70px;
    text-align: center;
    background: #f6cd61;
    color: white;
    font-size: 30px;
}

#dateStuff2{
    margin: 0 auto;
    margin-top: 30px;
    width: 300px;
    height: 70px;
    text-align: center;
    background: #f6cd61;
    color: white;
    font-size: 30px;
}


.datepicker-day-button{
    color: black;
}


/* Brennins list styling for main hub rightside---------------------------------------------------------------------------------- */

.month{
    width: 25px;
    font-weight: bolder;
}

.textId{
    font-size: 30px;
    font-weight: 100;
}

table, tr {
    border: 3px solid rgba(246, 204, 97, 0);
}


.style-table1 {
    width: 95%;
    height: 95px;
    background-color: #4A4E4D;
    color: white;
    font-size: 28px;
    border-right: 3px solid rgba(246, 204, 97, 0);
    border-left: 3px solid rgba(246, 204, 97, 0);
    margin-left: 5px;
    margin-top: 10px;
}

.edit-button {
    background-color: #4A4E4D;
    border: 2px solid #4A4E4D; 
    color: #4A4E4D;
    padding: 0 20px 2px 20px;
    float: right;
    margin-right: 10px;
    text-align: right;
    
}

.submit-button {
    background-color: #4A4E4D;
    border: 2px solid #4A4E4D;
    color: #4A4E4D;
    float: right;
    text-align: right;
    margin-right: 10px;
    
}

table tr:hover .submit-button {
    background-color: #3DA4AB;
    border: 2px solid #3DA4AB; 
    color: white;
    transition: all 0.8s;
            
}
            
table tr:hover .edit-button {
    background-color: #F6CD61;
    border: 2px solid #F6CD61;
    padding: 0 20px 2px 20px;
    color: white;
    transition: all 0.8s;
}

button:focus{
    background-color: transparent;
}

/* Table that spawns bills leftside------------------------------------------------------------------------------------------------------------*/

.rowWrapper1{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 800px;
    background-color: #4a4e4d;
    border: #3da4ab solid 3px;
    line-height: 50px;
}

.rowWrapper2{
    margin: 0 auto;
    max-width: 800px;
    background-color: #4a4e4d;
    border: #3da4ab solid 3px;
    line-height: 50px;
}

.topRowWrapper{
    border-bottom: #3da4ab solid 5px;
    height: 50px;
}

#descriptionDate{
    margin-left: 85px;
    float: left;
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bolder;
    display: block;
    
}

.itemDescription{
    float: left;
    margin-left: 110px;
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bolder;
    display: block;

}

.newBill{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 2px #3da4ab;
    width: 95%;
    height: 80px;
    background: #2f3131;
}


.billWrapper{
    margin-top: 10px;
    width: 145px;
    position: relative;
    float: left;
    left: 10px;
}

.billWrapper2{
    margin-top: 10px;
    width: 165px;
    position: relative;
    float: left;
    left: 25px;

}

.billWrapper3{
    margin-top: 10px;
    width: 165px;
    position: relative;
    float: left;
    left: 35px;

}

.billInputWrapper{
    position: relative;
    left: 5px;


}

.billInputWrapper2{
    position: relative;
    left: 5px;
    
}

.billInputWrapper3{
    position: relative;
    left: 5px;
    
}

.billStuff{
    text-align: center;
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bolder;

    
}

#billDateInput{
    background-color: white;
    float: left;
    width: 140px;
    margin-left: 10px;
    text-align: center;
    margin-top: 15px;

}

#billNameInput{
    background-color: white;
    float: left;
    height: 46px;
    width: 160px;
    font-size: 15px;
    margin-left: 20px;
    text-align: center;
    margin-top: 15px;

}

#billAmountInput{
    background-color: white;
    float: left;
    width: 140px;
    margin-left: 25px;
    text-align: center;
    margin-top: 15px;

}

.bh:hover .remove-button-2{
    background-color: #fe8a71;
    border: 2px solid #fe8a71;
    color: white;
    
}

.bh:hover .submit-button-2{
    background-color: #0e9aa7;
    border: 2px solid #0e9aa7;
    color: white;

}

.bh:hover .edit-button-2{
    background-color: #f6cd61;
    border: 2px solid #f6cd61;
    color: white;
    

}

.b{
    float: right;
    background-color: #2f3131;
    border: 2px solid  #2f3131;
    color: #2f3131;
    margin-top: 20px;
    width: 55px;
    height: 35px;
    font-size: 11px;
    margin-right: 10px;
    transition: all 0.7s ease;

}

.b:focus{
    background-color: transparent;
}