@import url('https://fonts.googleapis.com/css?family=Roboto');

/*

colors = {
#4a4e4d - grey
#0e9aa7 - dark blue
#3da4ab - light blue
#f6cd61 - mellow yellow
#fe8a71 - rose gold

}



*/


body{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background: #b1b0b048;
}

.x {
    -webkit-user-select: none;
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
  }

#logo{
    margin-top: 3px;
    margin-left: 42%;
    width: 60px;
    height: 55px;
}

#navBar{
    background: #4a4e4d;
    border-bottom: solid 2px #0e9aa7;
}

#mainStarterBox{
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    height: 600px;
    border: solid 2px #0e9aa7 ;
    background: #4a4e4dce;
    text-align: center;
    font-size: 40px;
}

#startButton{
        width: 500px;
        height: 100px;
        background: #fe8a71;
        border: solid #818586 2px;
        margin: 0 auto;
        margin-top: 20px;
        line-height: 90px;
        transition: all 0.2s;
        color: rgb(255, 255, 255);
        transition: all 0.4s;
}
#startButton:hover{
    background: #f6cd61;
    border: solid 2px #ffffff;
    color: #00323f;
}

#startButton:active{
    background: #0e9aa7;
    border: solid 2px #ffffff;
    color: #00323f;
}

p{
    padding: 0 40px 0 40px;
}


#userInput[type=text] {
    margin-top: 100px;
    width: 600px;
    height: 70PX;
    box-sizing: border-box;
    border: white solid 2px;
    font-size: 30px;
    background-color: rgb(252, 252, 252);
    background-image: url("../images/search.png");
    background-size: 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: rgb(0, 0, 0);
    outline:none; 
}

#userInput[type=text]:focus {
    width: 60%;
    border: 4px solid #fe8a71;
}